.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.travis.yml
.github
CODE_OF_CONDUCT.md
coverconfig.json
eslintrc.yml
tslint.json
utils
images
coverage
.nyc_output
.editorconfig
yarn-error.log
yarn.lock
package-lock.json
